html, body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
}

.popup_wrapper {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.66);
	z-index: 100;
	justify-content: center;
	align-items: center;
}

.popup_wrapper .popup_body {
	display: none;
	width: 600px;
    height: auto;
	min-height: 200px;
    position: fixed;
    background: #eaeaea;
    overflow: hidden;
    box-shadow: 0px 0px 10px #333333;
	z-index: 10;
	flex-direction: column;
}

.popup_wrapper.popup_active {
	display: flex;
}

.popup_wrapper .popup_body.popup_active {
	display: flex;
}

.popup_wrapper .popup_head {
	height: auto;
	min-height: 40px;
	width: 100%;
    background: #f36464;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;	
}

.popup_wrapper .popup_close {
	font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 3px;
	cursor: pointer;
}

.popup_wrapper .popup_content {
	height: 100%;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 16px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

@media (max-width: 640px) {
	.popup_wrapper .popup_body {
		width: 80%;	
	}
	
	.popup_wrapper .popup_content {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (max-height: 300px) {
	.popup_wrapper .popup_body {
		min-height: auto;
	}
	
	.popup_wrapper .popup_head {
		padding: 6px 20px;
		font-size: 14px;
		min-height: 26px;
	}
	
	.popup_wrapper .popup_close {
		font-size: 18px;
		top: 3px;	
	}
	
	.popup_wrapper .popup_content {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 14px;
	}
}
